
body{
    background-color: whitesmoke;
}

.forgetPass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    bottom: 100px;
}

.forgetPass-card {
    background: #ffffff;
    padding: 3.2rem 3rem;
    border-radius: 25px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    position: relative;
    top: 20px;
    box-shadow: 0 10px 40px #0000001f;
}

.forgetPass-card h1 {
    font-size: 2.5rem;
    color: #1a1a2e;
    margin-bottom: 0.25rem;
}

.forgetPass-card h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1.8rem;
    margin-top: 15px;
}

.input-group {
    text-align: left;
    margin-bottom: 1.2rem;
    position: relative;
    right: 20px;
}

.input-group label {
    display: block;
    font-weight: 600;
    color: #333;
    font-size: 0.8m;
}


.input-group input {
    width: 100%;
    padding: 12px 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4F46E5
}

.input-group input:not(:placeholder-shown) {
  border-color: #4F46E5;
    transition: border 0.2s ease;
}



.error-message {
    background: #fee2e2;
    color: #ef4444;
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border: 1px solid #fecaca;
}

.success-message{
    background: #76e883;
    color: rgb(0, 0, 0);
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border: 1px solid #124b04;

}

.submit-btn {
    width: 65%;
    padding: 14px;
    background:#4F46E5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    left: 80px;
    margin-bottom: 20px;
}

.submit-btn:hover{
  box-shadow: 0 6px 20px rgba(79, 70, 229, 0.4);
  transform: translateY(-2px);
}

.submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.login-link {
    color: #4F46E5;
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.login-link a {
    color: #4F46E5;
    font-weight: 600;
    text-decoration: none;

}

.login-link a:hover {
    text-decoration: underline;
}




.forgetPass-footer{
    color: grey;
    text-align: center;
    position: relative;
    top: 30px;
}

.forgetPass-mark{
    color: black;
    text-align: center;

}